services:
  wainlux-k6:
    build: ./docker
    container_name: wainlux-k6
    privileged: true
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - ./data:/app/data
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
