;; K6 Crosshair OFF (0x07)
;; Disable positioning laser

(defattrs :bg-cmd {:fill "#e8f4f8"})

(draw-column-headers)

(draw-box "0x07 (Crosshair OFF)" [:box-first {:span 8} :bg-cmd])
(draw-box "0x00 (Reserved)" [:box-related {:span 8} :bg-cmd])
(draw-box "0x04 (Length)" [:box-related {:span 8} :bg-cmd])
(draw-box "0x00 (Reserved)" [:box-last {:span 8} :bg-cmd])
