;; K6 Version Response
;; 3-byte firmware version reply to 0xFF command

(defattrs :bg-version {:fill "#d0f0ff"})

(draw-column-headers)

(draw-box "Major (example: 04)" [:box-first {:span 8} :bg-version])
(draw-box "Minor (example: 01)" [:box-related {:span 8} :bg-version])
(draw-box "Patch (example: 06)" [:box-last {:span 8} :bg-version])
